.outline-none {
	outline: none;

	&:hover {
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

.scale {
	transform: scale(1);

	&:hover {
		transform: scale(1.1);
	}
}

.transition {
	transition: all .3s linear;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.break-all {
	word-break: break-all;
}

@responsive {
	@for $i from 1 through 12 {
		.flex-order-#{$i} {
			order: #{$i};
		}
	}
}