{% extends 'frontend.html.twig' %}

{% block content %}
<main role="main" class="container">
<h1>Mining calculator</h1>

{% if coins != '' %}
	Estimated coins per day: {{ coins }}
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</main>

{% endblock %}
