{% extends 'frontend.html.twig' %}

{% block content %}
<main role="main" class="container">
<h1>Block explorer is currently synchronizing</h1>
<p>Synchronization process should be finished shortly. Please wait a bit and refresh the page.</p>
</main>

{% endblock %}
