{% extends 'frontend.html.twig' %}

{% block content %}
<main role="main" class="container">
<h1>Profit calculator</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</main>

{% endblock %}
